body{
    background-color: rgb(95, 95, 228);
    font: normal 15pt Arial;
}

header {    
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 2px 10px 5px 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}
select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}