@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
    text-align: center;
}
header{    
    background-color: rgba(50, 205, 197, 0.507);
    max-width: 1000px;
    color: rgb(231, 91, 72);
}
h1{
    font: bold 35px arial;
    color: rgb(72, 231, 112);
}
p{
    font: normal 25px cursive;
}
img{
    border: 10px;
    border-radius: 25px;
    margin: 5px;
    max-width: 800px;
}
a{
    background-color: black;
    text-decoration: none;
    font: bold 15px arial;
    color: white;
}
footer{
    margin: 2px;
    padding: 5px;
    background-color: black;
    color: white;
    font: normal 10px arial;
}